In [5]:
# import
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import os

In [6]:
# Get data (only train data)
path = os.path.join('PreparedData', 'train.csv')
df = pd.read_csv(path)

In [7]:
df.head(5)

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Turkey",1,3,1035,10,2,1,3,...,5,0,0,0,4,bachelor,it,2,1,2
1,6950,Internet,"Istanbul, Turkey",0,4,1402,30,1,8,3,...,0,0,0,0,3,other,it,1,1,1
2,4880,Online Media,Turkey,0,4,1216,10,1,3,2,...,5,0,0,0,2,bachelor,it,2,1,2
3,26046,Telecommunications,"Istanbul, Turkey",0,1,1856,14,4,7,2,...,0,0,0,0,2,master,other,3,0,3
4,11005,Banking,"Istanbul, Turkey",0,3,2769,28,5,3,3,...,5,0,0,0,3,other,business,2,1,2

In [ ]:
# Feature Engineering (one hot encode)
df = pd.get_dummies(df, drop_first=True)
df.head(5)