In [396]:
# import
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import os

In [397]:
#Â Get data (only train data)
path = os.path.join('PreparedData', 'train.csv')
df = pd.read_csv(path)

In [398]:
df.head(5)

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,worked_abroad,English,German,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count,recent_study_label
0,1301,Information Technology and Services,Turkey,1,3,1035,0,3,0,5,0,0,0,4,bachelor,it,2,1,2,0
1,6950,Internet,Turkey,0,4,1402,0,3,0,0,0,0,0,3,other,it,1,1,1,0
2,4880,Other,Turkey,0,4,1216,0,2,0,5,0,0,0,2,bachelor,it,2,1,2,0
3,26046,Other,Turkey,0,1,1856,0,2,0,0,0,0,0,2,master,other,3,0,3,0
4,11005,Other,Turkey,0,3,2769,0,3,0,5,0,0,0,3,other,business,2,1,2,0

In [399]:
# Show all column names
df.columns

Index(['user_id', 'industry', 'location', 'moved_after_2019',
       'companies_worked', 'max_duration', 'worked_abroad', 'English',
       'German', 'Turkish', 'French', 'Spanish', 'Chinese', 'NLanguages',
       'education_level', 'fields_of_study', 'education_count',
       'attended_university', 'different_university_count',
       'recent_study_label'],
      dtype='object')

In [400]:
# Feature Engineering (one hot encode)
df = pd.get_dummies(df, drop_first=True)
df

,user_id,moved_after_2019,companies_worked,max_duration,worked_abroad,English,German,Turkish,French,Spanish,...,industry_Computer Networking,industry_Computer Software,industry_Information Technology and Services,industry_Internet,industry_Other,location_Turkey,education_level_master,education_level_other,fields_of_study_it,fields_of_study_other
0,1301,1,3,1035,0,3,0,5,0,0,...,0,0,1,0,0,1,0,0,1,0
1,6950,0,4,1402,0,3,0,0,0,0,...,0,0,0,1,0,1,0,1,1,0
2,4880,0,4,1216,0,2,0,5,0,0,...,0,0,0,0,1,1,0,0,1,0
3,26046,0,1,1856,0,2,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1
4,11005,0,3,2769,0,3,0,5,0,0,...,0,0,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,0,2,4232,0,2,0,5,0,0,...,0,0,1,0,0,1,0,0,0,0
53015,37784,0,2,1553,0,4,0,5,0,0,...,0,0,0,0,1,1,0,0,0,1
53016,33229,0,3,3042,0,2,0,2,0,0,...,0,0,1,0,0,1,0,0,0,1
53017,12165,1,3,396,0,3,1,5,0,0,...,0,0,0,1,0,1,1,0,0,1
53018,248,0,2,1797,1,1,0,5,0,0,...,0,0,1,0,0,1,0,0,1,0

In [401]:
# Test train split
X_train, X_test, y_train, y_test = train_test_split(df.drop('moved_after_2019', axis=1), df['moved_after_2019'], test_size=0.1, random_state=42)

In [402]:
rf_model = RandomForestClassifier(n_estimators=100, max_depth=12, random_state=40)
rf_model.fit(X_train, y_train)

RandomForestClassifier(max_depth=12, random_state=40)

In [403]:
rf_model.score(X_test, y_test)

0.6584307808374198

In [404]:
# Load df_train
path = os.path.join('PreparedData', 'train.csv')
df_train = pd.read_csv(path)

# Feature Engineering (one hot encode)
df_train = pd.get_dummies(df_train, drop_first=True)

In [405]:
# Do prediction on test data
path = os.path.join('PreparedData', 'test.csv')
df_test = pd.read_csv(path)

# Feature Engineering (one hot encode)
df_test = pd.get_dummies(df_test, drop_first=True)

In [406]:
df_train

,user_id,moved_after_2019,companies_worked,max_duration,worked_abroad,English,German,Turkish,French,Spanish,...,industry_Computer Networking,industry_Computer Software,industry_Information Technology and Services,industry_Internet,industry_Other,location_Turkey,education_level_master,education_level_other,fields_of_study_it,fields_of_study_other
0,1301,1,3,1035,0,3,0,5,0,0,...,0,0,1,0,0,1,0,0,1,0
1,6950,0,4,1402,0,3,0,0,0,0,...,0,0,0,1,0,1,0,1,1,0
2,4880,0,4,1216,0,2,0,5,0,0,...,0,0,0,0,1,1,0,0,1,0
3,26046,0,1,1856,0,2,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1
4,11005,0,3,2769,0,3,0,5,0,0,...,0,0,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,0,2,4232,0,2,0,5,0,0,...,0,0,1,0,0,1,0,0,0,0
53015,37784,0,2,1553,0,4,0,5,0,0,...,0,0,0,0,1,1,0,0,0,1
53016,33229,0,3,3042,0,2,0,2,0,0,...,0,0,1,0,0,1,0,0,0,1
53017,12165,1,3,396,0,3,1,5,0,0,...,0,0,0,1,0,1,1,0,0,1
53018,248,0,2,1797,1,1,0,5,0,0,...,0,0,1,0,0,1,0,0,1,0

In [407]:
rf_model = RandomForestClassifier(n_estimators=600, max_depth=12, random_state=40)

X = df_train.drop('moved_after_2019', axis=1).values
y = df_train['moved_after_2019'].values
rf_model.fit(X, y)

RandomForestClassifier(max_depth=12, n_estimators=600, random_state=40)

In [408]:
# Predict
y_pred = rf_model.predict(df_test.values)

In [409]:
y_pred

array([0, 0, 0, ..., 1, 0, 0])

In [410]:
# Add prediction to df_test
df_test['moved_after_2019'] = y_pred

In [411]:
# Turn into submission by keeping only user id and moved_after_2019
df_test = df_test[['user_id', 'moved_after_2019']]

In [412]:
df_test['moved_after_2019'].value_counts()

0    11461
1     1794
Name: moved_after_2019, dtype: int64

In [413]:
# Save into csv with parameters
df_test.to_csv('submission_rf_600_12_40.csv', index=False)